{% extends "layout_ref.html" %}

{% block content %}

<body background="{{url_for('static', filename='img.jpg')}}" style="background-size: contain;">



<p style="color:#ffffff; margin-top:150px; font-size:100px; font-family:'cursive' "align="middle">
    Question Papers
</p>



    <button type="submit" style="background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e3163f), color-stop(1, #d9184f));
    background:-moz-linear-gradient(top, #e3163f 5%, #d9184f 100%);
    background:-webkit-linear-gradient(top, #e3163f 5%, #d9184f 100%);
    background:-o-linear-gradient(top, #e3163f 5%, #d9184f 100%);
    background:-ms-linear-gradient(top, #e3163f 5%, #d9184f 100%);
    background:linear-gradient(to bottom, #e3163f 5%, #d9184f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3163f', endColorstr='#d9184f',GradientType=0);
    background-color:#e3163f;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #ab1967;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #d12648;
    position:relative;
    margin-left:auto;margin-right:auto;display:block;margin-top:auto;margin-bottom:22%"

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d9184f), color-stop(1, #e3163f));
    background:-moz-linear-gradient(top, #d9184f 5%, #e3163f 100%);
    background:-webkit-linear-gradient(top, #d9184f 5%, #e3163f 100%);
    background:-o-linear-gradient(top, #d9184f 5%, #e3163f 100%);
    background:-ms-linear-gradient(top, #d9184f 5%, #e3163f 100%);
    background:linear-gradient(to bottom, #d9184f 5%, #e3163f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9184f', endColorstr='#e3163f',GradientType=0);
    background-color:#d9184f;"><a style="color:#ffffff;" href="https://drive.google.com/folderview?id=1MqUOqfYh78Z053wq670W6bMekrVYjSGS" > Click Here </a> </button>
</body>

{% endblock content %}

